<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - nexo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header class="header">
        <h1 class="title">
            teste
        </h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <div class="collapse navbar-collapse myDiv" >
    <div class="navbar-nav">
      <a class="nav-item nav-link" asp-action="AddProduct" asp-controller="home">Adicionar produto</a>
      <a class="nav-item nav-link" asp-action="ProductList" asp-controller="home">Listar Produto</a>
    </div>
      <div class="navbar-nav">
      <a class="nav-item nav-link" asp-action="Login" asp-controller="Account">Login</a>
      <a class="nav-item nav-link" asp-action="Register" asp-controller="Account">Cadastrar-se</a>
    </div>
  </div>
</nav>
    <div class="containerT">
       
            @RenderBody()
        
    </div>

    <footer >
        <div class="container">
            &copy; 2021 - nexo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
