
@if(!User.Identity.IsAuthenticated)
{
    <form  class="form">
        <div class="form-group">
            <label for="productName">Nome</label>
            <input id="nameId" type="text" class="form-control"  placeholder="digite seu email" name="userName">
             <span id="nameErrorId"  class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input id="passwordId" type="password" class="form-control" id="exampleInputPassword1" placeholder="digite sua senha" name="password">
            <span id="passwordErrorId"  class="text-danger"></span>
        </div>
    <button  id="buttonLogin" type="submit" class="btn btn-primary">login</button>
     <a class="btn btn-primary" asp-action="Register" asp-controller="Account" >Cadastrar-se</a>
    </form>
    
   

}
else
{   
    
    <a  class="btn btn-primary logLink" asp-action="ProductList" asp-controller="Home">Voltar para lista</a>
    
}

<script src="~/js/login.js"></script>

