<form asp-action="Register" asp-controller="Account" class="form" method="POST">
    <div class="form-group">
        <label for="productName">Nome</label>
        <input type="text" class="form-control"  placeholder="digite seu email" name="name">
    </div>
    <div class="form-group">
        
        <label for="email">Email</label>
        <input type="text" class="form-control" id="emailId" placeholder="email" name="email">
         <span id="emailErrorId"  class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" id="passwordId" placeholder="senha" name="password">
         <span id="passwordErrorId"  class="text-danger"></span>
    </div>
  <button id="registerId" type="submit" class="btn btn-primary">Resgistrar-se</button>
</form>


<script src="~/js/register.js"></script>