<form asp-action="AddProduct" asp-controller="Home">
    <div>
        <input type="text" name="productName">
    </div>
    <div>
        <input type="text" name="price">
    </div>

    <button type="submit">
        cadastrar produto
    </button>
</form>