<form asp-action="AddProduct" asp-controller="Home" class="form">
  <div class="form-group">
    <label for="productName">Nome produto</label>
    <input type="text" class="form-control"  placeholder="digite o produto" name="productName">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="digite o preço" name="price">
  </div>
  <button type="submit" class="btn btn-primary">Adicionar Produto</button>
</form>