
 <form asp-action="GetProductByName" asp-controller="Home" class="form" method="GET">
  <div class="form-group">
    <label for="productName">Nome produto</label>
    <input type="text" class="form-control"  placeholder="digite seu email" name="productName" >
  </div>

  <button  type="submit" class="btn btn-primary">Buscar Produto</button>
</form>