@model List<Product>

<h1 class="subTtitle">Lista de Produtos</h1>

<table class="table">
  <thead>
    <tr>
      
      <th scope="col">nome produto</th>
      <th scope="col">preço</th>
      <th scope="col">atulizaçao de produto</th>
      <th scope="col">exclusão de produto</th>
    </tr>
  </thead>
  <tbody>
   
        @foreach (var item in Model)
        {   
            
            <tr>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td><a asp-controller ="Home" asp-action="UpdateProduct" asp-route-id ="@item.id"> atualizar Produto</a></td>
                <td><a asp-controller ="Home" asp-action="DeleteProduct" asp-route-id ="@item.id"> deletar Produto</a></td>
            </tr>
            
        }
    
  </tbody>
</table>