@model List<Product>

<h1 class="subTtitle">Lista de Produtos</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">nome produto</th>
      <th scope="col">preço</th>
      <th scope="col">Atualizar Produto</th>
      <th scope="col">Deletar Produtor</th>

    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>@item.Name</td>
        <td>@item.Price</td>
        <td><a asp-action="UpdateProduct" asp-controller="Home" asp-route-id="@item.id">atualizar</a></td>
        <td><a asp-action="DeleteProduct" asp-controller="Home" asp-route-id="@item.id">deletar</a></td>
      </tr>
    }

  </tbody>
</table>